.dispCuadrada{
  width:500px;
  aspect-ratio : 1 / 1;
  height: auto;
}

.dispHorizontal{

  aspect-ratio : 2 / 1;
  width: 500px;
  height: auto;
}

.derecha{
  background-color: antiquewhite;
}

/*.titulo{*/
/*  color: black;*/
/*}*/

/*.subtitulo{*/
/*  color: black;*/
/*}*/

.antique{
  color: antiquewhite;
}

.btn{
  background-color: antiquewhite;
  color: black;
  border: none;
}

.btn:hover{
  background-color: black;
  color: antiquewhite;
}
